.logo-header-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo-container {
    width: 300px;
}

.logo-img {
    width: 100%;
}

@media (max-width: 767px) {
    .logo-header-container {
        justify-content: start;
    }
}