.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.home-header {
    margin-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}

@media (max-width: 767px) {
    .home-header {
        display: flex;
    }
}