.product-container {
    width: 350px;
    display: flex;
    margin: 0 20px;
    /* Used for overlay*/
    position: relative;
}

.product-image-container {
    width: 350px;
    height: 400px;
    overflow: hidden;
    /* Used for overlay*/
    position: absolute;
    top: 0;
    left: 0;
}

.product-image {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-image-overlay {
    width: 350px;
    height: 400px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.product-image-overlay-text {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

/* .product-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.product-image-container {
    width: 500px;
    height: 500px;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-text-container {
    width: 500px;
    height: 500px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    line-height: 30px;
}

.product-text {
    text-align: center;
}

@media (max-width: 1030px) {
    .product-container {
        width: 500px;
        flex-direction: column;
    }

    .product-image-container {
        width: 500px;
        height: 500px;
    }

    .product-text-container {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 600px) {
    .product-container {
        width: 350px;
        flex-direction: column;
    }

    .product-image-container {
        width: 350px;
        height: 350px;
    }

    .product-text-container {
        width: 350px;
        height: 350px;
    }
} */