.product-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.product-container:nth-child(3) {
    margin: 80px 0;
}

.product-image-container {
    width: 500px;
    height: 500px;
    background: grey;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-text-container {
    width: 500px;
    height: 500px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    line-height: 30px;
}

.product-text {
    text-align: center;
}

@media (max-width: 1000px) {
    .product-container {
        width: 500px;
        flex-direction: column;
    }
}