.product-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    /* Used for overlay*/
    position: relative;
}

.product-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Maintains aspect ratio */
    overflow: hidden;
    /* Used for overlay*/
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-image-overlay {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Maintains aspect ratio */
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    border-radius: 15px;
    position: relative;
}

.product-image-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Media query for tablets */
@media screen and (min-width: 576px) {
    .product-image-overlay-text {
        font-size: 28px;
    }
}

/* Media query for desktop */
@media screen and (min-width: 992px) {
    .product-image-overlay-text {
        font-size: 30px;
    }
}