.navbar-toggler {
    border: none !important;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

.nav-link {
    padding: 12px 30px;
}

.navbar-collapse {
    margin-top: 10px;
}

/* @media (max-width: 767px) {
    .navbar-toggler {
        width: 500px;
    }
} */