.footer-container {
    width: 100%;
    height: 100px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.footer-socials-container {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-email-container, .footer-facebook-container, .footer-instagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-email-image, .footer-facebook-image, .footer-instagram-image {
    width: 50px;
}