.product-section-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 60px 0;
}

.product-section-title {
    font-size: 40px;
    margin-bottom: 30px;
}

.candles-link {
    text-decoration: none;
    margin-bottom: 80px;
}

.diffusers-link {
    text-decoration: none;
    margin-bottom: 80px;
}

.air-fresheners-link {
    text-decoration: none;
}