.product-section-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 60px 0;
}

.product-section-title {
    font-size: 40px;
    margin-bottom: 30px;
}

.product-section-items-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.product-section-items-container a {
    text-decoration: none;
}