.banner-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  width: 100%;
}

.banner-image-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0b0b0a;
  animation: enhance-bg 12s infinite alternate ease-in-out;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  animation: enhance-zoom 15s infinite alternate ease-in-out;
}

.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: enhance-fade 8s infinite alternate ease-in-out;
}

@keyframes enhance-zoom {
  0% {
    transform: scale(1.05) translate(-5px, -5px);
  }

  50% {
    transform: scale(1.15) translate(0, 0);
  }

  100% {
    transform: scale(1.05) translate(5px, 5px);
  }
}

@keyframes enhance-fade {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes enhance-bg {
  0% {
    filter: brightness(1) contrast(1);
  }

  50% {
    filter: brightness(1.2) contrast(1.1);
  }

  100% {
    filter: brightness(1) contrast(1);
  }
}